h1{
  font-family: monospace,sans-serif;
  margin: 8px;
}

h2{
	font-size: 35pt;
	color: navy;
}

p{
  font-family: sans-serif;
  color: navy;
  font-size: 20pt;
}

#bod{
  background-color: azure;

}

body{
  background-color: cornsilk;
}


